*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(57, 57, 57);
    color: rgb(252, 252, 252);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 100%;
    height: 100vh;
    
}
.heading{
    margin: 40px 40px;
    font-size: 0.8rem;
    text-align: center;
    width: 100%;
}

.moves{
    width: 50%;
    height: 5vh;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}
.text{
    margin-top: 40px;
    font-size: 1.2rem;
    text-align: center;
    line-height:30px;
}
.opt{
    margin: 20px 0;
    background-color: rgb(235, 235, 235);
    border: 1px solid rgb(20, 20, 20);
    box-shadow: 1px 0px 8px #5f5f5ff9;
    width: 20%;
    height: 80%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.151s;
    transition: color 0.15s;
}

.opt:hover{
    background-color: rgb(77, 77, 77);
    color: white;
}

.player,.computer{
    display:flex;
    gap:2px;
}

.scores{
    display: flex;
    justify-content: space-between;
    width: 40vw;
    font-size: 1.4rem;
    margin-bottom: 50px;
}

.arena{
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    border: 2px solid black;
    line-height: 50px;
    border-radius: 60px;
    box-shadow: 2px 0px 15px rgba(0, 0, 0, 0.88);
    font-size: 1.6rem;
    background-color: rgba(249, 249, 249, 0.9);
    color: black;
    text-align: center;
}

#play-again{
    width: 40%;
    height: 5vh;
    display: none;
}


@media (max-width:890px){
    .moves{
        width: 80%;
    }
    .scores{
        width: 70%;
    }
    .opt:hover{
        color: black;
        background-color: rgb(235, 235, 235);
    }
    .opt:active{
        background-color: rgb(77, 77, 77);
        color: white;
    }
    .container {
        height: 80vh;
    }
    .arena {
        height: 40vh;
        line-height: 30px;
    }
}

@media (max-width:520px){
    .moves{
        width: 100%;
    }
    .opt{
        width: 25%;
        font-size: 16px;
    }
    .scores{
        width: 90%;
    }
    .arena{
        font-size: 1.3rem;
    }
}

@media (max-width:334px){
    .scores{
        font-size: 1.2rem;
    }

    .opt{
        font-size: 14px;
    }
}